// 覆写 nutui 样式

.small-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-image .nut-img {
    border-radius: 1rem;
    width: 90%;
    height: 90%;
}