/* custom-tab-bar 不支持 tailwind css */

.wrapper {
    display: flex;
    height: 150rpx;
    align-items: center;
    justify-content: space-between;
    padding: 0 50rpx;
}

.selected {
    color: red;
}