/* custom-tab-bar 不支持 tailwind css */
$vendor-prefixes: -webkit-, -moz-, -ms-, -o-, ;

@mixin grayscale-filter($filter-value) {
    @each $prefix in $vendor-prefixes {
        @if $prefix == '' {
            background: none;
            filter: grayscale($filter-value) !important;
        } @else {
            background: none;
            #{$prefix}filter: grayscale($filter-value) !important;
        }
    }
}

.tab-bar-wrapper {
    display: flex;
    height: 150rpx;
    align-items: center;
    justify-content: space-between;
    padding: 0 50rpx;
    background-color: white;
    filter: drop-shadow(0 -3px 24px rgba(0,0,0,0.05));
    z-index: 100;
}

.tab-bar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 22rpx;
    gap: 4rpx;
    color: black;
    @include grayscale-filter(100%);
}

.tab-bar-selected {
    @include grayscale-filter(0);
}