/* custom-tab-bar 不支持 tailwind css */

.wrapper {
    display: flex;
    height: 150rpx;
    align-items: center;
    justify-content: space-between;
    padding: 0 50rpx;
    background-color: white;
    filter: drop-shadow(0 -3px 24px rgba(0,0,0,0.05));
}

.selected {
    color: red;
}