$vendor-prefixes: -webkit-, -moz-, -ms-, -o-, ;

@mixin grayscale-filter($filter-value) {
    @each $prefix in $vendor-prefixes {
        @if $prefix == '' {
            background: none;
            filter: grayscale($filter-value) !important;
        } @else {
            background: none;
            #{$prefix}filter: grayscale($filter-value) !important;
        }
    }
}

.scan-icon-gray {
    @include grayscale-filter(100%);
}