.time-input-left {
    .nut-input {
        margin-right: 20rpx !important;
    }
    margin-right: 20rpx !important;
}


.time-input-right {
    max-width: 128rpx;
    .nut-input {
        padding-right: 0 !important;
    }
}